@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* border: solid orange 5px; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16x;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer {
  /* border: solid blue 2px; */
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: solid orange 2px; */
}

.footer {
  background: #eee;
}

ul {
  /* border: solid red 2px; */
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a:link {
  color: #666;
  text-decoration: none;
}

/* .input {
  display: flex;
  justify-content: center;
}

.header .left-links {
  display: flex;
  border: solid green 2px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.header .right-links {
  display: flex;
  border: solid green 2px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  gap: 5px;
  justify-content: end;
}

.footer .left-links {
  display: flex;
  border: solid green 2px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.footer .right-links {
  display: flex;
  border: solid green 2px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  gap: 5px;
  justify-content: end;
} */

/* ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a {
  color: #666;
} */